body {
background-image: url(/static/img/watermelon-769000_1920.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
color: rgb(8, 8, 8);
font-family: 'Raleway', sans-serif;
line-height: 1.3;
-webkit-font-smoothing: antialiased;
}

.melon-card {
  max-width: 23%;
  margin: 0.5rem;
}

.melon-card h5 {
  font-size: 1rem;
}

#shopping .filters {
  min-width: 20%;
}

.loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 300px;
}

.loading-box img {
   display: block;
   max-height: 100px;
   margin: auto;
   animation: pulse 1s infinite;
}

.loading-box div {
  font-size: 20px;
  font-family: cursive;
}

ul {
  list-style-type: none;
  background: #085538;
  padding: 10px;
}

ul li {
  background: #eb2d9c;
  margin: 5px;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
