<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BitMelon - Bid on a Melon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.js"></script>
  </head>
  <body>
    <div id="root">
      <p>
        If you see this, you probably forgot to import a
        <code>&lt;script&gt;</code> tag somewhere.
      </p>
    </div>
    
  <script src="/static/js/uiComponents.jsx" type="text/jsx"></script>
  <script src="/static/js/login.jsx" type="text/jsx"></script>
  <script src="/static/js/bid.jsx" type="text/jsx"></script>
	<script src="/static/js/marketplace.jsx" type="text/jsx"></script>
  </body>
</html>